*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: 'Open Sans', sans-serif;
    background: #252d3f;
  }
  nav{
    background: #252d3f;
    height: 80px;
    width: 100%;
  }
  label.logo{
    margin: 10px;
  }
  nav ul{
    float: right;
    margin-right: 20px;
    color: white;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  section{
    background-size: cover;
    height: calc(100vh - 80px);
  }

  .veille{
    /* background-color: gray; */
    width: 100%;
    display: flex;
    border-radius: 10px;
    margin-top: 10px;
}

.veille img{
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
/* .veille .synthese{

} */
.veille .contenu{
  color: #edf0f4;
  padding-left: 10px;
}

.add{
    padding-top: 100px;
}

.registration-form{
  color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    margin-top: 300px;
}

.registration-form h1 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
    color: white;
}

.registration-form p {
    font-size: 20px;
    margin: 15px 0;
    color: white;
}

.registration-form input{
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border:0;
    border-radius: 5px;
    outline: none;
}

.registration-form button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border: 0;
    border-radius: 5px; 
    background-color: white;
}

.registration-form button:hover {
    color: red;
}


.centrer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main{
    margin-top: 100px;
}